@charset "utf-8";

/* Dracula Syntax Highlighting Specification
 * https://spec.draculatheme.com/#sec-Markup-Markdown-RST-etc-
 */

/*背景色*/
body {
    background: #282A36;
}

/*标题
 *https://spec.draculatheme.com/#MarkupHeading
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #BD93F9;
    font-weight: bold;
}

/*选中部分*/
::selection {
    background: #44475A;
}

/*超链接
 *https://spec.draculatheme.com/#MarkupLinkUrl
 *https://spec.draculatheme.com/#MarkupLinkText
 */
a {
    color: #8BE9FD;
}

a:hover {
    text-decoration: none;
    color: #FF79C6;
}

/*行内代码
 *https://spec.draculatheme.com/#MarkupInlineCode
 */
code {
    color: #50FA7B;
    background: #282A36;
}

/*代码块字体*/
code, pre {
	font-family: 'Maple Mono NL NF CN';
}

/*粗体
 *https://spec.draculatheme.com/#MarkupBold
 */
strong {
    color: #FFB86C;
    font-weight: bold;
}

/*斜体 虽然我讨厌斜体 但斜体就是斜体
 *https://spec.draculatheme.com/#MarkupItalic
 */
em {
    color: #F1FA8C;
    font-weight: italic;
}

/*引用块
 *https://spec.draculatheme.com/#MarkupBlockquote
 */
blockquote {
    color: #F1FA8C;
}

/* Dracula Theme v1.2.5
 *
 * https://github.com/dracula/highlightjs
 *
 * Copyright 2016-present, All rights reserved
 *
 * Code licensed under the MIT license
 *
 * @author Denis Ciccale <dciccale@gmail.com>
 * @author Zeno Rocha <hi@zenorocha.com>
 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282a36;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
    color: #8be9fd;
}

.hljs-keyword {
    color: #ff79c6;
}

.hljs,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
    /*font-style: italic; 我讨厌斜体*/
    color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #6272a4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-literal,
.hljs-number {
    color: #bd93f9;
}

/* 我讨厌斜体
.hljs-emphasis {
    font-style: italic;
}
*/

/*以下为自行添加高亮*/
.hljs-comment {
    font-style: normal !important; /*我讨厌斜体*/
}

/*
.function_ {
    color: #50FA7B;
}

.hljs-built_in {
    color: #8BE9FD;
}

.hljs-params {
    color: #FFB86C;
}
*/
